
    $body_color: rgb(13, 26, 45);
    $inner_bdy:  rgb(21, 39, 63);
    $inner_bdywidth: 250px;
    $myColor: white;
    $border_radius1: 10px;
    $position: relative;
    $padding: 5px;
    $font_weight: bold;
    $font_family: Arial, Helvetica, sans-serif;
    $hover: rgb(5, 167, 189);

    .body{
        background-color: $body_color;
        font-family: $font_family;
    }
   

    .bdy_phone{
        background-color: $inner_bdy;
        width: $inner_bdywidth;
        color: $myColor;
        border-radius: $border_radius1;
        position: $position;
        left: 515px;
        top: 100px;
        height: 440px;
    }

    .bdy_phone img{
        padding: 6px;
        position: $position;
        left: 13px;
        top: 10px;
        border-radius: 5px;
        cursor: pointer;

    }

    .bdy_phone img:hover{
        color: $hover;
    }
    #image2{
        display: none;
    }
        
    .h3:hover{
        color: $hover;
    }

    .h3{
        cursor: pointer;
        position: $position;
        left: 21px;
        top: -1px;
        font-family: $font_family;
        font-size: 16px;
        font-weight: 400;

    }
   .para{
       font-size: 13px;
       position: $position;
       top: -6px;
       left: 20px;
   }
   .para2{
    font-size: 13px;
    position: $position;
    top: -10px;
    left: 20px;
   }
   .bottom img,  .img{
       cursor: pointer;
    position: $position;
    left: -10px;
    top: 28px;
    
   }
  .img2 img {
    position: $position;
    top: -7px;
    left: 127px;
   }
  
   .bottom{
    position: relative;
    top: -40px;
    border-bottom: 1px solid rgb(53, 77, 109);
    width: 200px;
    left: 24px;
   }
 
   .images img{
       position: relative;
       top: -32px;
       left: 17px;
       border-radius: 70px;
   }

   .images p{
       position: relative;
       left: 68px;
       top: -78px;

       font-size: 11px;
   }
   .images p span{
       cursor: pointer;
    font-weight: $font_weight;
   }
   .images p span:hover{
       color: $hover;
   }





   @media screen and (max-width:710px){
    .bdy_phone{ 
        position: $position;
        left: 200px;
    }
   }
   #image{
    display: none;
}
#image2{
    display: block;
}
   @media screen and (max-width:480px){
       body{
           width: 100%;
       }
    .bdy_phone{ 
        position: $position;
        
        left: 70px;
    }
    #image2{
        display: none;
    }
   }